<%= form_with(model: park) do |form| %>
  <% if park.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(park.errors.count, "error") %> prohibited this park from being saved:</h2>

      <ul>
        <% park.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :coordinates %>
    <%= form.text_field :coordinates %>
  </div>

  <div class="field">
    <%= form.label :place_count %>
    <%= form.number_field :place_count %>
  </div>

  <div class="field">
    <%= form.label :free_place_count %>
    <%= form.number_field :free_place_count %>
  </div>

  <div class="field">
    <%= form.label :car_type %>
    <%= form.number_field :car_type %>
  </div>

  <div class="field">
    <%= form.label :building_type %>
    <%= form.number_field :building_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
